.qrapp{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10rem;

}

@media (min-width:792px) {
    .qrapp{
        margin-top: 0;
        width: 400px;
    }
    .contenedor{
        height: 86vh!important;
    }
}

.data{
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
}

.text{
    text-align: center;
    margin-bottom: 4rem;
    margin: 0 auto;
}


.contenedor{
   height: 80vh;
}
